a{ 
 text-decoration: none;
 }

.main_menu, h1, .app_text p, body, body a, .textarea_middle, .submit_middle, .comment_buble, .blog_categories{ 
 font-family: Arial, Helvetica, sans-serif;
 }
 
h1{
 font-size: 30px;
 }
 
.main_menu, .sec_menu a, .tag2, .archive, .pricing thead{ 
 font-size: 15px;
 }
 
.text_icon_left span, .pricing thead{
 font-weight: bold;
 }
 
.main_menu{
 font-weight: normal;
 }
 
.app_text p, .right_side p{
 line-height: 24px;
 }
 
.app_text p{
 font-size: 15px;
 }
 
.comment_buble{
 font-size: 18px;
 }
 
.comment_buble{ 
 text-align:center;
 }
h4, h4 a, .entry a, .user_info p.name{
 color: #1B77EF;
 }
 
.options p, .features, .under_fold p, .footer, .blog_right_side p.entry_info{
 font-size: 12px;
 }
 
.right_side p, label{
 color: #282828;
 }
 
label span, p.mandatory_fields, p.error, .entry span{
 color: #f35619;
 }
 
.sec_menu a{
 color: #282828;
 }
 
.sec_pag_options .icon_text{
 color: #1a1a1a;
 }
 
.features, .under_fold p{
 line-height: 17px;
 }
 
.left_side .left_box_middle p, .user_info p.name{
 line-height: 18px;
 }
 
.left_side .left_box_middle p, .left_box_middle p span a, .comment_buble a{
 color: #575757;
 }
 
.page_not_found .blog_categories p{
 color: #5d5d5d;
 font-style:normal;
 font-weight: normal;
 }

.options p{
 color: #747a7e;
 }
 
h2 a{
 font-size: 27px;
 }

.button_middle a, .button_middle_back a, .right_side p, .left_side .left_box_middle p, .input_middle, label, .textarea_middle, .submit_middle, .tag1{
 font-size: 13px;
 }
 
.left_tab, .middle_tab, .right_tab{
 font-size: 13px;
 }
 
.blog_categories, .pricing tbody{
 font-size: 14px; 
 }
 
h3{
 font-size: 15px; 
 }
 
.blog_categories{
 font-weight: bold;
 }

.blog_categories a span{
 color: #626262;
 }

.left_tab, .middle_tab, .right_tab, .button_middle, .button_middle_back, .submit_middle, .entries_no{
 text-align: center;
 font-weight: bold;
 }
 
.button_middle a, .button_middle_back a, .submit_middle, .blog_categories .button_middle_404 a{
 color: #ffffff;
 text-shadow: 0 1px 0 #2e2e2e;
 }

.tab_on{
 color: #0e0e0e;
 }
 
.tab_off{
 color: #eaeaea;
 }
 
.blog_cat:hover{
 color: #797979;
 }
 
.tab_off:hover{ 
 color: #ffffff;
 }
 
.sec_menu a:hover{ 
 color: #5e5e5e;
 }
 
.main_menu .selected, .features, .under_fold p, .footer, .footer_links li a, .pricing tr td span, .blog_categories a.selected, .blog_category p{
 color: #282828;
 }
 
.blog_categories a{
 color: #575757;
 }
 
h2 a, .text_icon_left span, .left_side p, .pricing{
 color: #161616;
 }
 
.left_side p, .blog_category p, .input_middle, .textarea_middle, .input_middle_blog, .tags, .archive{
 font-style: italic;
 }
 
.input_middle_blog{
 font-size: 16px;
 }
 
.input_middle_blog, .tags a, .archive li a{
 color: #797979;
 }
 
.tags a:hover, .archive li a:hover{
 text-decoration: underline;
 }
 
.input_middle, .textarea_middle, p.entry_info, p.entry_info a{
 color: #777777;
 }
 
.left_side p, h4, .tag3, .blog_category p, .user_info p.name{
 font-size: 17px;
 }
 
.tag4{
 font-size: 22px;
 }
 
.tag5{
 font-size: 27px;
 }
 
h4, h3{
 text-transform:uppercase; 
 }
 
h4, .archive li{
 line-height: 22px;
 }
 
h1{
 color: #0d0d0d;
 }
 
.app_text p{
 color: #EAEAEA;
 }

.on a, .first_on a, .last_on a, .on a:hover, .first_on a:hover, .last_on a:hover{
 font-weight: bold;
 color: #ffffff;
 text-shadow: 0 1px 0 #676767;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
