.buy_from_tf{
 width:115px;
 height: 115px;
 position: absolute;
 right:0;
 border: none;
 }
 
.buy_from_tf a, .buy_from_tf img{
 border: none;
 }

*{
 margin:0;
 padding:0;
 }
 
a{
 outline: none;
 }
 
.clear_container{
 clear: both; 
 }
 
html{
 background: #0f0f0f;
 }

/* .header */
 
.logo{
 margin: 39px 0 0 56px; 
 width: 183px;
 height: 63px;
 float: left;
 }

.main_menu{
 margin: 0 0 0 390px;
 padding: 62px 72px 0 0;
 }
 
.main_menu li{ 
 display: inline; 
 padding: 0 0 0 37px;
 }
 
/* apps box on the homepage */

.app_box{
 padding: 119px 0 0 59px;
 position: relative;
 }
 
.app_text{
 width: 507px;
 height: 126px;
 background: url(../images/tab_bg.png) no-repeat;
 padding: 22px 40px 22px 40px;
 }
 
h1{
 margin: 0 0 14px 0;
 }
 
.left_tab{
 display: block;
 width: 173px;
 height: 33px;
 background: url(../images/left_tab_off.png) no-repeat;
 float:left;
 }
 
.left_tab_on{
 background: url(../images/left_tab_on.png) no-repeat;
 cursor: default;
 }
 
.middle_tab{
 display: block;
 width: 234px;
 height: 33px;
 background: url(../images/middle_tab_off.png) no-repeat;
 float: left;
 }
 
.middle_tab_on{
 background: url(../images/middle_tab_on.png) no-repeat;
 cursor: default;
 }
 
.right_tab{
 display: block;
 width: 180px;
 height: 33px;
 background: url(../images/right_tab_off.png) no-repeat;
 float: left;
 }
 
.right_tab_on{
 background: url(../images/right_tab_on.png) no-repeat;
 cursor: default;
 }
 
.left_tab, .middle_tab, .right_tab{
 padding: 16px 0 0 0;
 }
 
.box{
 position: absolute;
 top: 29px;
 right: 36px;
 }
 
/* .under_fold */ 
 
.under_fold{
 width:990px;
 background: url(../images/option_icons_bg.jpg) no-repeat;
 margin: 100px 0 0 0;
 }

.download, .buy_now, .live_support, .user_info{
 float: left; 
 }

.download{
 width: 210px;
 margin: 25px 0 0 73px;
 }
 
.options p.icon_text{
 margin: 0;
 }
 
.sec_pag_options{
 margin: 44px 0 0 0; 
 }
 
.buy_now{
 width: 234px;
 margin: 25px 0 0 80px;
 }
 
.live_support{
 width: 234px;
 margin: 25px 0 0 73px;
 }
 
.options img{
 float:left;
 margin: 0 19px 0 0;
 } 
 
h2{
 margin: 8px 0 3px 0;
 }
 
.main_features{
 width: 556px;
 margin: 82px 0 0 65px;
 float: left;
 }
 
.sep{
 height: 2px;
 background: url(../images/sep_bg.jpg) repeat-x;
 margin: 10px 0 0 0;
 }
 
.features li{ 
 width: 258px;
 float: left;
 list-style: disc;
 }
 
.features li.left{ 
 margin: 17px 10px 0 15px;
 }
 
.features li.right{
 margin: 17px 0 0 25px;
 width: 248px;
 }
 
.features li.last{
 margin: 17px 0 7px 25px;
 }
 
.button{
 margin: 16px 0 0 0;
 }
 
.button_left{
 width: 14px;
 height: 27px;
 background: url(../images/button_left.png) no-repeat;
 float: left;
 }
 
.button_middle{
 height: 24px;
 background: url(../images/button_middle.png) repeat-x;
 float: left;
 padding: 3px 12px 0 3px;
 }
 
.button_middle_404{
 padding: 4px 12px 0 3px;
 }
 
.button_right{
 width: 25px;
 height: 27px;
 background: url(../images/button_right.png) no-repeat;
 float: left;
 }
 
.closer_look{
 width: 261px;
 margin: 82px 0 0 67px;
 float: left; 
 }
 
.under_fold p{
 margin: 17px 0 0 0;
 }
 
.screenshot{
 width: 72px;
 height: 73px;
 background: url(../images/screenshots_bg.png) no-repeat;
 padding: 5px;
 float: left;
 margin: 25px 0 0 0;
 }
 
.page_content{
 width: 890px;
 background: url(../images/page_content.png) no-repeat;
 margin: 36px 0 0 0;
 padding: 93px 50px 0 50px;
 }
 
.left_side{
 width: 221px;
 float: left;
 } 
 
.right_side{
 width: 627px;
 margin: 0 0 0 37px;
 float: left;
 } 
 
.right_side p{
 margin: 11px 0 0 0;
 }
 
.feature_info_left, .feature_info_right{
 width: 280px;
 float: left;
 }
 
.feature_info_right{
 margin: 0 0 0 50px;
 }
 
.text_icon_right{
 width: 502px;
 float: left;
 }
 
.pc_icon{
 float: left;
 margin: 30px 0 0 20px;
 }
 
.text_icon_left img{
 float: left;
 margin: 24px 27px 0 0;
 }
 
.text_icon_left p{
 width: 500px;
 float: left;
 }
 
.left_box_top{
 width: 221px;
 height: 8px;
 background: url(../images/left_box_top.png) no-repeat;
 }
 
.left_box_middle{
 width: 193px;
 background: url(../images/left_box_middle.png) repeat-y;
 padding: 4px 14px 0 14px;
 }
 
.left_box_bottom{
 width: 221px;
 height: 8px;
 background: url(../images/left_box_bottom.png) no-repeat;
 }
 
.left_side .left_box_middle p{
 margin: 5px 0 0 0;
 }
 
.input{ 
 /*margin: 0 0 24px 0;*/
 }
 
.input{
 margin: 0 0 24px 0;
 width: 238px;
 }
 .inputms{
 margin: 0 0 24px 0;
 width: 494px;
 }
 
.input_left{
 width: 6px;
 height: 25px;
 background: url(../images/input_left.png) no-repeat;
 float: left;
 }
 
.input_middle{
 width: 168px;
 height: 18px;
 background: url(../images/input_middle.jpg) repeat-x;
 float: left;
 border: none;
 padding: 4px 0 3px 7px;
 }
 
.input_middle_contact{
 width: 218px;
 }
 
.input_right{
 width: 6px;
 height: 25px;
 background: url(../images/input_right.png) no-repeat;
 float: left;
 }
 
.submit_left{
 width: 16px;
 height: 28px;
 background: url(../images/submit_left.png) no-repeat;
 float: left;
 }
 
.submit_middle{
 width: 100px;
 height: 28px;
 background: url(../images/submit_middle.png) repeat-x;
 float: left;
 border: none;
 margin: 0 0 15px 0;
 }
 
.submit_right{
 width: 16px;
 height: 28px;
 background: url(../images/submit_right.png) no-repeat;
 float: left;
 }
 
.submit_button{
 width: 133px;
 }
 
.live_chat{
 float: right;
 position: relative;
 bottom: 13px;
 }
 
label{
 display: block;
 margin: 0 0 5px 0;
 }
 
.textarea_left{
 width: 6px;
 height: 115px;
 background: url(../images/textarea_left.png) no-repeat;
 float: left;
 }
 
.textarea_middle{
 width: 487px;
 height: 109px;
 background: url(../images/textarea_middle.png) repeat-x;
 float: left;
 border: none;
 padding: 3px 8px 3px 8px;
 }
 
.textarea_middle{
 width: 466px;
 }
 
.textarea_right{
 width: 6px;
 height: 115px;
 background: url(../images/textarea_right.png) no-repeat;
 float: left;
 }
 
 
/* .footer */

.footer{
 padding: 77px 0 55px 65px;
 }

.footer_left{
 width: 13px;
 height: 30px;
 background: url(../images/footer_left.jpg) no-repeat;
 float: left;
 }
 
.footer_middle{
 height: 23px;
 width: 844px;
 background: url(../images/footer_middle.jpg) repeat-x;
 float: left;
 padding: 7px 0 0 14px;
 }
 
.footer_right{
 width: 13px;
 height: 30px;
 background: url(../images/footer_right.jpg) no-repeat;
 float: left;
 }

.footer_links{
 float: left;
 }
 
.footer_links li{
 display: inline; 
 margin: 0 17px 0 0;
 }
 
.copyrights{
 float: right;
 margin: 0 14px 0 0;
 }
 
/* .sec_menu */
 
.sec_menu{
 }
 
.sec_menu li{
 display: block;
 width: 221px;
 height: 54px;
 background: url(../images/sec_menu_middle.png) no-repeat;
 }
 
.sec_menu li.first{
 background: url(../images/sec_menu_top.png) no-repeat;
 }
 
.sec_menu li.last{
 background: url(../images/sec_menu_bottom.png) no-repeat;
 }
 
.sec_menu li.on{
 background: url(../images/sec_menu_middle_on.png) no-repeat;
 }
 
.sec_menu li.last_on{
 background: url(../images/sec_menu_bottom_on.png) no-repeat;
 } 
 
.sec_menu li.first_on{
 background: url(../images/sec_menu_top_on.png) no-repeat;
 }
 
.on a:hover, .first_on a:hover, .last_on a:hover{
 cursor: default;
 }
 
.sec_menu li a{
 display: block;
 width: 162px;
 height: 35px;
 padding: 19px 0 0 59px;
 }
 
a.optimized{
 background: url(../images/optimized_icon.png) no-repeat;
 background-position: 11px 8px;
 }
 
a.latest_os{
 background: url(../images/os_icon.png) no-repeat;
 background-position: 10px 12px;
 }
 
a.easy{
 background: url(../images/easy_icon.png) no-repeat;
 background-position: 7px 12px;
 }

a.premium{
 background: url(../images/premium_icon.png) no-repeat;
 background-position: 13px 9px; 
 }
 
a.languages{
 background: url(../images/languages_icon.png) no-repeat;
 background-position: 13px 10px; 
 }
 
.left_side p{
 margin: 0 0 23px 12px;
 }
 
/* Blog page */
 
.blog_left_side p{
 margin: 0 0 13px 12px;
 }
 
.blog_right_side{
 width: 587px;
 margin:0 3px 0 17px;
 padding: 0 40px 0 0;
 }
 
.comment_buble{
 width: 41px;
 height: 39px;
 background:url(../images/comment_buble.png) no-repeat; 
 float: left;
 padding: 8px 0 0 0;
 margin: 4px 0 0 0;
 }
 
.entry{
 width: 500px;
 float: left;
 margin: 0 0 0 17px;
 }
 
.blog_right_side p.entry_info{
 margin: 0 0 0 0;
 }
 
.entry_img{
 margin: 23px 0 5px 0;
 }
 
.read_more{
 margin: 20px 0 0 0;
 }
 
.not_first{
 margin: 50px 0 0 0;
 }

.older_entries{
 margin: 42px 0 0 58px;
 }

.newer_articles, .older_articles{
 float: left;
 }
 
.newer_articles{
 padding: 0 10px 0 0;
 float: left;
 }
 
.button_left_back{
 width: 25px;
 height: 27px;
 background: url(../images/button_left_back.png) no-repeat;
 float: left;
 }
 
.button_middle_back{
 height: 25px;
 background: url(../images/button_middle.png) repeat-x;
 float: left;
 padding: 2px 3px 0 12px;
 }
 
.button_right_back{
 width: 14px;
 height: 27px;
 background: url(../images/button_right_back.png) no-repeat;
 float: left;
 }
 
.blog_categories{
 width: 179px;
 margin: 0 auto;
 }
 
.blog_cat{
 display: block;
 margin: 12px 0 12px 0;
 padding: 0 0 0 5px;
 float: left;
 }

.entries_no{
 display: block;
 width: 39px;
 height: 20px;
 float: right;
 background: url(../images/entries_no.png) no-repeat;
 padding: 3px 0 0 0;
 margin: 9px 0 0 0;
 }
 
.sep_blog_categories{
 clear: both;
 height: 2px;
 background: url(../images/sep_blog_cat_bg.jpg) repeat-x;
 margin: 10px 0 0 0;
 }
 
.sep_blog_article{
 width: 500px;
 height: 4px;
 background: url(../images/sep_article.jpg) repeat-x;
 margin: 31px 0 30px 57px;
 }
 
.blog_cat_box{
padding-bottom: 6px;
 }
 
.input_blog{ 
 margin: 0;
 }
 
.input_left_blog{
 width: 10px;
 height: 36px;
 background: url(../images/blog_search_left.png) no-repeat;
 float: left;
 }
 
.input_middle_blog{
 width: 195px;
 height: 36px;
 background: url(../images/blog_search_middle.png) repeat-x;
 float: left;
 border: none;
 padding: 7px 2px 7px 2px;
 }
 
.input_right_blog{
 width: 10px;
 height: 36px;
 background: url(../images/blog_search_right.png) no-repeat;
 float: left;
 }
 
.tags, .archive{
 padding: 0 0 0 12px;
 }
 
.tags a{
 display: block;
 vertical-align:bottom;
 line-height: 30px;
 }
 
.tags div {
 float: left;
 margin-right: 7px;
 }
 
.search_box{
 margin: 32px 0 0 0;
 }
 
.cloud_tag_box{
 margin: 18px 0 0 0; 
 }
 
.cloud_tag_box p{
 margin: 0 0 7px 12px;
 }
 
.archive_box, .social_networking{
 margin: 31px 0 0 0; 
 }
 
.archive_box p{
 margin: 0 0 8px 12px;
 }
 
.blog_category p{
 margin: 0;
 }
 
.blog_category{
 margin: 0 0 30px 57px;
 }
 
.comments, .no_results{
 width: 500px;
 margin: 0 0 0 57px;
 }
 
.comments_title{
 float: left;
 }
 
.add_a_comment{
 float: right;
 }
 
.comments_entry_top{
 width: 492px;
 height: 8px;
 background: url(../images/commets_top.jpg) no-repeat;
 }
 
.comments_entry_middle{
 width: 436px;
 background: url(../images/comments_middle.jpg) repeat-y;
 padding: 17px 28px 15px 28px;
 }
 
.comments_entry_bottom{
 width: 492px;
 height: 8px;
 background: url(../images/comments_bottom.jpg) no-repeat;
 }
 
.reply_top{
 width: 465px;
 height: 8px;
 background: url(../images/reply_top.jpg) no-repeat;
 }
 
.reply_middle{
 width: 409px;
 background: url(../images/reply_middle.jpg) repeat-y;
 padding: 17px 28px 15px 28px;
 }
 
.reply_bottom{
 width: 465px;
 height: 8px;
 background: url(../images/reply_bottom.jpg) no-repeat;
 }
 
.reply_icon, .reply{
 float: left;
 }
 
p.name{
 margin:0;
 padding:0;
 }
 
.page_not_found .blog_categories p{
 margin: 10px 0 15px 0;
 }
 
.pricing_button{
 padding: 0 0 11px 0;
 }
 
.pricing{
 margin: 25px 0 0 0;
 }
 
.pricing thead tr{
 height: 42px;
 background:url(../images/thead_bg.png) no-repeat;
 }
 
.pricing tbody tr{
 height: 42px;
 background:url(../images/tr_bg.png) no-repeat;
 }
 
.pricing tbody tr:hover{
 height: 42px;
 background:url(../images/tr_hover_bg.png) no-repeat;
 }
 
.pricing tr td{
 padding: 0 0 0 19px;
 }
 
.social_networking ul li{ 
 display: inline;
 margin: 0 3px 0 0;
 }
 
/***** Contatc Form Error ***/
.valid{border:1px solid #70A41B!important; overflow:hidden;} /*#70A41B*/
.ajax_alert .form_input, .ajax_alert .form_textarea{}
.error {overflow:hidden; border:1px solid red!important; }